@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}

html {
    font-size: 13px;
    background: #f8f8f8;
}

/* 스타일 초기화 S */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px;
    background: #fff;
}

ul,ol, dl, dt, dd { 
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
/* 스타일 초기화 E */

/* 공통 스타일 S */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

/* 공통 스타일 E */

/* 헤더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px;
}

header .logo img {
    height: 34px;
}

header .site-top i {
    font-size: 2rem;
}

header .site-top .left i {
    margin-right: 10px;
}

header .site-top .right i {
    margin-left: 10px;
}

header nav {
    display: flex;
    height: 44px;
}

header nav a {
    flex-grow: 1;
    width: 0;
    text-align: center;
    line-height: 44px;
}

/* 헤더 영역 E */

/* 메인 배너 영역 S */
.main-banner img {
    width: 100%;
    display: block;
}

/* 메인 배너 영역 E */

/* 서브 메뉴 영역 S */
.sub-menus {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #ededed;
    border-left: 0;
    border-right: 0;
}

.sub-menus a {
    width: calc(100% / 3);
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    font-size: 1.077rem;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.sub-menus a:nth-of-type(1),
.sub-menus a:nth-of-type(2),
.sub-menus a:nth-of-type(3) { 
    border-top: 0;
}

.sub-menus a:nth-of-type(3n+1) {
    border-left: 0;
}

/* 서브 메뉴 영역 E */