* {
    color: #000;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 13px;
}

/* 스타일 초기화 S */
body {
    margin: 0;
}

ul,ol, dl, dt, dd { 
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
/* 스타일 초기화 E */